*{
    margin: 0;
    padding: 0;
}


.nav-section{
    position: absolute;
    display: flex;
    width: 90%;
    height: 90px;
    background-color:#F3F3F3;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-left: 50px;
    margin-right: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 4px solid green;
}
h1 img{
  margin-left:20px ;
  margin-top: 10px;
}


.nav-section ul{
  list-style: none;
  display: flex;
}

.nav-section ul li{
  padding: 10px 30px;
  position: relative;
}

.nav-section ul li a{
  color:black;  
  text-decoration: none;
  font-size: 20px;
  font-weight:500;
}


.nav-section ul li a:hover{
  color: green;   
}


.nav-section button{
  height: 40px;
  width: 90px;
  padding: 4px;
  font-size: 18px;
  background-color: green;
  border: 1px solid green; 
  border-radius: 5px; 
  color: white;
  margin-right: 50px;
}

 .checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
 }
 #check{
  display: none;
 }
 
 @media (max-width: 425px){
  h1 img{
    display: none;
  }
  
  .nav-section ul li{
  display: none;
}
.checkbtn{
  display: block;
}
 
 }
 
 @media (max-width: 767px){
  h1 img{
    display: none;
  }
  
  .nav-section ul li{
  display: none;
}
 
 }

.dropdown__menu{
  display: none;
}

.nav-section ul li:hover .dropdown__menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: green;
 
 
}
.nav-section ul li:hover .dropdown__menu ul{
  display: block;
  margin: 10px 0 0;
}
 

.nav-section ul li:hover .dropdown__menu ul li{
  width: 250px;
  padding: 10px;
  margin-left: 30px;
 
}
.nav-section ul li:hover .dropdown__menu ul li a{
  color: beige;
}
.fas{
  float: right;
  margin-right: 30px;
  padding-top: 2px;
   
}

.dropdown__menu-1{
  display: none;
}
.dropdown__menu ul li:hover .dropdown__menu-1{
  display: block;
  position: absolute;
  top: 0;
  left: 275px;
  background-color: green;
  text-transform: uppercase;
}





.slider-section{
  position: relative;
  background-color: red;
  width: 100%;
  height: 500px;
  animation: myanimation 10s infinite;
}
@keyframes myanimation {
    0% {background-color: #EF9C66;}
    25%{background-color:#FFD0D0;}
    50%{background-color:#FCDC94;}
    75%{background-color:#91DDCF;}
    100%{background-color:#AD88C6}
 
  }
  



























































/* *{
    margin: 0;
    padding: 0;
  

}


:root{
    
    /* // <uniquifier>: Use a unique and descriptive class name
   // <weight>: Use a value from 200 to 1000 */

/* 
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200,500,600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

    --primary-color: #0D8040;
    --secondary-color:  #626463;


    --color-accents: #ffffff;

    --letter-spacing: 0.5px;
    

}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
     
    animation: myanimation 10s infinite;
}
@keyframes myanimation {
    0% {background-color: #EF9C66;}
    25%{background-color:#FFD0D0;}
    50%{background-color:#FCDC94;}
    75%{background-color:#91DDCF;}
    100%{background-color:#AD88C6}
 
  }



.header{
    width: 92%;
    height: 100px;
    background-color: #F3F3F3;
    border: 1px solid #f3f3f3;
    margin: auto;
    margin-top: 5px;
    display: flex;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    border-bottom: 0.5px solid green ;
    
}

.header img{
    width: 40%;
    object-fit: contain;
    padding-left: 50px;
    padding-right: 50px;
    
}

.header nav{
    justify-self: center;
    align-self: center;
    margin: 5px;
}
 

.header button{
     
    left: 300px;
    border: 1px solid #008000;
    background: #008000 ;
    height: 60px;
    width: 120px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10%;
    align-self: center;
    padding: 0.4px;
    margin: auto;     

    
}


nav ul {
    display: flex;

}

nav ul {
    list-style: none ;
    gap: 20px;
    font-size: 20px;
    
   
}
nav a{
    text-decoration: none;
    color: black;
}

nav:after{
    content: "";
    display: table;
}

.toggle , [id^=dropdown]{
    display: none;
}
 

nav::after{
    content: "";
    display: table;
    clear: right;

}nav ul{
    float: bottom;
    list-style: none;
    position: relative;
} */
/* nav ul ul{
    display: none;
    position: absolute;
    top: 60px;
} */
 

/* nav ul li:hover > ul  {
    display: flex;
}
  */
 /* nav #down  #dropdown{
    display: none;
  }

  nav #down:hover  #dropdown{
    display: block;
  }
      

  nav #down #dropdown::after{
    content: " ";
    display: table;
    clear: right;
} */


  /* #down:hover #drop  ul{
    display: block;
  } */




/* nav:after {
    content: "";
    display: table;
    clear: both;
  }


  .toggle, [id^=dropdown] {
    display: none;
   }
  nav ul{
    float: right;
    padding: 5px;
    margin: 20px;
    list-style: none;   
    position: relative;
    font-size: 20px;
    font-weight: 500;
   
   
  }
  nav ul li {
    margin: 10px;
    display: inline-block;
    margin: 1px;
    
  }
/* 
   

  nav a {
    display: block;     
    color: black; 
    text-decoration: none;
  }

  nav li a:hover {
    color: #0D8040;
  
  }

  nav ul ul{
    display: none;
  }

  nav ul  li:hover > ul  {
    display: inherit;

  }

  nav ul ul  li{
    width: auto;
    font-size: 0.2rpx;
    font-weight: 400;
    padding: 0.2px;
    float: none ;
    top: -60px;
    left: 170px;
    background: #008000;
    display: list-itpx;
    
  }

  li > a:after { content: ' '; }

  li > a:only-child:after { content: ' '; } */





/* 


  /* Slider Containers */
  /* .slider {
    display: flex;
    
  }
  
  .slider > * {
    width: 100%;
    flex: 0 0 auto;
  }

  .containers{
    height: 5px,5vw;
    width: 100%;
    padding: 2px;
    
  }

  .slider-container h1{
    font-size: 1rpx;
  }
  .slider-container p{
    font-size: 0.5rpx;
    font-weight: 100;
    margin-top: 1px;
  }

  .slider-container button{
    font-size: 0.5rpx;
    padding: 1%;
    font-weight: bold;
    color: white;
    background: #0D8040;
    border-color: #0D8040;
    border-radius: 0.5px;
    margin-top: 1px;
  }

  .slider-one{
    display: flex;
    flex-direction: column ;
 
  }

  .slider-two{
    display: flex;
    flex-direction: column ;
 
  }
  .slider-three{
    display: flex;
    flex-direction: column ;
     
  }

  .w3-display-left{
    padding: 10px;
     display:inline;
     background-color: rgb(90, 88, 88) ;
     color: white ;
     border-radius: 50%;
     
    
    
  }

  .w3-display-left:hover{
    background: black ;
  }


  .w3-display-right{
    padding: 10px;
    display:inline;
    background-color: rgb(90, 88, 88)  ;
     color: white ;
     border-radius: 50%;
    opacity: 10px;
  }
  .w3-display-right:hover{
    background-color: black !important;
  }

  .carasoul img{

      */
  /* }  */