*{
    margin: 0;
    padding: 0;
  

}

:root{
    
    /* // <uniquifier>: Use a unique and descriptive class name
   // <weight>: Use a value from 200 to 1000 */


  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200,500,600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;

    --primary-color: #0D8040;
    --secondary-color:  #626463;


    --color-accents: #ffffff;

    --letter-spacing: 0.5px;
    

}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
     
    animation: myanimation 10s infinite;
}
@keyframes myanimation {
    0% {background-color: #EF9C66;}
    25%{background-color:#FFD0D0;}
    50%{background-color:#FCDC94;}
    75%{background-color:#91DDCF;}
    100%{background-color:#AD88C6}
 
  }



.header{
    width: 90%;
    height: 1.2em;
    background-color: #F3F3F3;
    border: 1px solid #f3f3f3;
    margin: auto;
    margin-top: 1.5px;
    display: flex;
    border-bottom-left-radius:  0.2em;
    border-bottom-right-radius:  0.2em;
    border-bottom: 0.5px solid green ;
    
}

.header img{
    width: 40%;
    object-fit: contain;
    padding-left: 0.4em;
    padding-right: 0.4em;
    
}

.header nav{
    justify-self: center;
    align-self: center;
    margin: 0.5em;
}

.header button{
    
    border: 1px solid #008000;
    background: #008000 ;
    height: 2.5em;
    width: 5em;
    color: white;
    font-size: 0.2rem;
    font-weight: bold;
    border-radius: 10%;
    align-self: center;
    padding: 0.4em;
    margin: auto;     

    /* text-align: center; */
    /* align-self: center;
    justify-self: center; */
}
nav:after {
    content: "";
    display: table;
    clear: both;
  }


  .toggle, [id^=dropdown] {
    display: none;
   }
  nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;   
    position: relative;
    font-size: 0.2rem;
    font-weight: 500;
   
   
  }
  nav ul li {
    margin: 0;
    display: inline-block;
    margin: 1em;
    
  }

   

  nav a {
    display: block;     
    color: black; 
    text-decoration: none;
  }

  nav ul ul{
    display: none;
  }

  nav ul  li:hover > ul{
    display: inherit;

  }

  nav ul ul li{
    width: 170px;
    float: none ;
    top: -60px;
    left: 170px;
  }

  li > a:after { content: ' +'; }

  li > a:only-child:after { content: ' '; }








  /* Slider Containers */
  .slider {
    display: flex;
    
  }
  
  .slider > * {
    width: 100%;
    flex: 0 0 auto;
  }

  .containers{
    height: 5em,5vw;
    width: 100%;
    padding: 2em;
    
  }

  .slider-one{
    display: flex;
    flex-direction: column ;
 
  }

  .slider-two{
    display: flex;
    flex-direction: column ;
 
  }
  .slider-three{
    display: flex;
    flex-direction: column ;
     
  }

  .w3-display-left{
    padding: 10px;
     display:inline;
    
    
  }
  .w3-display-right{
    padding: 10px;
    display:inline;
  }

  .carasoul img{
    align-items: end;
  }